html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  margin-bottom: 4.5rem;
  background: #f4f6f9;
}

/***Color style start here***/
.blue {
  color: #458acd;
}

.pink {
  color: #dc236f;
}

.green {
  color: #098d16;
}

.red {
  color: #ff2e00;
}

.purple {
  color: #2007bb;
}

.blue-bg {
  background: #17a2b8 !important;
}

.green-bg {
  background: #58c371 !important;
}

.yellow-bg {
  background: #f3ca4f !important;
}

.pink-bg {
  background: #dc3545 !important;
}

/*****Navigation start here******/
.logo-section {
  border-right: 1px solid #cccccc;
  width: 14.6%;
  height: 52px;
  display: flex;
  align-items: center;
}

.navbar-main {
  background: #fff;
  padding: 0.2rem 1rem;
}

.navbar-main .navbar-nav .nav-icon-set {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 0 4px 0 0;
}

.navbar-main .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-main .navbar-nav .nav-link:hover,
.navbar-main .navbar-nav .nav-link.active {
  background: #007bff;
  color: #fff;
}

.navbar-main .navbar-nav .nav-link:hover i,
.navbar-main .navbar-nav .nav-link.active i {
  color: #fff;
}

.navbar-logo-set {
  color: #3c3c3c !important;
}

.logo-main {
  width: 15%;
}

.header-search {
  padding: 4px 0px 0px 0px;
  position: relative;
}

.header-search i {
  color: #464646;
  font-size: 24px;
  position: absolute;
  right: 24px;
}

.header-search .form-control {
  border-radius: 20px;
  width: 100%;
}

.notification-icon-set {
  width: 32px;
  text-align: center;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  background: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  font-size: 14px;
}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-link-collapse:after {
  float: right;
  content: "\f067";
  font-family: "FontAwesome";
}

.nav-link-show:after {
  float: right;
  content: "\f068";
  font-family: "FontAwesome";
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}

.top-right-bar {
  margin: 0 0 0 10%;
  width: 90%;
}

.top-inside {
  width: 80%;
  float: right;
}

.header-dropdown .dropdown-menu {
  left: inherit;
  right: 0px;
}
.header-dropdown i {
  font-size: 24px;
  cursor: pointer;
  color: #c2c7d0;
}

.user-detail {
  border-bottom: 1px solid #4f5962;
  margin: 20px auto 5px;
  width: 92%;
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.user-detail .user-name {
  font-size: 14px;
  color: #c2c7d0;
  padding: 0px 10px 0px 10px;
  margin: 0px;
  width: 74%;
}

.user-detail .user-profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
}

.user-detail .user-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.breadcrumb-main {
  background: none;
  padding: 0px;
  margin: 10px 0px;
}

.date-text {
  color: #318fd5;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px 0px 0px;
}

.home-item-card-main {
  background: #fff;
  border-radius: 4px;
}

.home-item-card {
  padding: 16px;
}

.home-item-card .right-bar {
  width: 69%;
  float: right;
  text-align: right;
}

.home-item-card .right-bar h5 {
  color: #fff;
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
  word-break: break-all;
}

.home-item-card .right-bar p {
  color: #fff;
  font-size: 26px;
  margin: 5px 0px 0px 0px;
}

.notification-item-card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #fff;
  width: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-item-card-main .small-box-footer {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.notification-item-card .right-bar {
  width: 84%;
  float: right;
  text-align: right;
}

.notification-item-card .right-bar h5 {
  color: #3c3c3c;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
}

.recent-activity {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  height: 377px;
}

.recent-activity h5 {
  color: #3c3c3c;
  font-size: 18px;
  margin: 0px;
}

.recent-activity ul {
  margin: 20px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

.recent-activity ul li {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.recent-activity ul li i {
  font-size: 12px;
  margin: 0px 10px 0px 0px;
}

.recent-activity ul li span {
  font-size: 11px;
  color: #ccc;
  float: right;
}

.graph-set {
  margin: 0px;
  padding: 0px;
}

.graph-set img {
  width: 100%;
}

/****Bell Notification*****/
.notification-section {
  float: right;
  margin: 10px 0px 0px 0px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
.notification-section i {
  color: #1f2d3d;
}

.notification-badge {
  font-size: 9px;
  position: absolute;
  top: 0px;
  right: -10px;
  color: #1f2d3d;
}

.notification-section .dropdown-menu {
  left: inherit;
  right: 0px;
  max-width: 300px;
  min-width: 280px;
  padding: 0;
}

.notification-section .dropdown-menu-lg .dropdown-header {
  text-align: center;
  padding: 8px 0px 0px 0px;
  color: #212529;
}

.notification-section .dropdown-menu-lg .dropdown-footer {
  text-align: center;
  padding: 0px 0px 8px 0px;
  color: #212529;
}

.notification-section .dropdown-menu-lg {
  font-size: 14px;
  color: #212529;
  font-weight: 400;
}

/*******Course Package*******/
.course-table {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
.express-td-data {
  margin: 0px;
  padding: 0px;
}
.express-td-data .title-set {
  margin: 0px 0px 0px 0px;
}
.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.edit-btn i {
  margin: 1px 5px 0px 0px;
}

.content-inner-title {
  font-weight: normal;
  color: #3c3c3c;
}

.course-title-set {
  position: relative;
  margin: 0px 0px 20px 0px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}
.course-title-set:last-child {
  margin: 0px;
}
.course-title-set span {
  position: absolute;
  top: -12px;
  background: #fff;
  padding: 0 2px;
  left: 5px;
}

.course-title-set p {
  margin: 10px 0 4px 0;
}

/****Course form start here*****/
.course-form {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.6rem;
    background: #464646;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 230px;
  }

  .footer {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .logo-section {
    width: 60%;
    border-right: none;
  }
  .navbar-main .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-main .navbar-toggler-slide {
    width: 20px;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    margin: 4px 0 2px 0;
  }
  .user-detail {
    width: 100%;
  }
  .home-item-card {
    margin-bottom: 10px;
  }
  .home-item-card-main,
  .graph-set {
    margin-bottom: 15px;
  }
  .footer {
    font-size: 13px;
  }
  .navbar-main .navbar-nav .nav-link,
  .navbar-main .navbar-nav .nav-icon-set {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
  }
  .top-inside {
    width: 100%;
  }
  .course-form {
    padding: 8px;
  }
  .header-dropdown .dropdown-menu {
    position: absolute;
  }
  .date-text {
    margin: 10px 0px;
  }
}
